@charset "utf-8";

#logoText {
  margin-top: 30px;
  letter-spacing: 3px;
  color: #17bed2;
}

.navlinkStyle {
  color: #17bed2 !important;
}

.videoPanel {
  margin-top: 1rem;
}

#videoLayout {
  overflow-y: hidden !important;
}

.panelLayout {
  padding: 12rem;
}
